* {
    margin: 0;
    padding: 0;
    border: 0;
}

#home {
    float: left;
    font-size: 280%;
    padding-left: 20px;
    color: #606060;
    border-color: #fed93a;
}

#home:hover {
    transition: .2s linear;
    opacity: 1;
    font-weight: 400;
    transform: scale(1.1);
    text-shadow: 1px 1px 1px #000;
    background-color: #f2f2f2;
}

#navbar-menu {
    margin: 0;
    font-size: 32px;
    list-style-type: none;

}

#home,
#navbar-menu {
    margin: 1px;
    line-height: 50px;
}

#navbar-menu li {
    display: block;
    float: right;
    margin-right: 40px;
    opacity: 0.5;
    height: 100%;
}

#navbar-menu a {
    text-decoration: none;
    color: inherit;
}

#navbar-menu li:hover {
    display: block;
    transition: .2s linear;
    opacity: 1;
    font-weight: 400;
    transform: scale(1.1);
    text-shadow: 1px 1px 1px #000;
    background-color: #f2f2f2;
}

.active {
    color: black;
    opacity: 1;
    display: block;
    font-weight: 500;
    transform: scale(1.1);
    text-shadow: 1px 1px 1px #000000;
    background-color: #f2f2f2;
}

#main-space {
    height: 95vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 95vh;
    width: 100vw;
    background: url("../images/photo-1587620962725-abab7fe55159.jpg") no-repeat center center;
    opacity: 0.5;
    background-size: cover;
}

#main-image2 {
    height: 95vh;
    width: 100vw;
    background: url("../images/photo-1536825211030-094de935f680.jpg") no-repeat center center;
    opacity: 0.5;
    background-size: cover;
}

#main-image4 {
    height: 95vh;
    width: 100vw;
    background: url("../images/ricardo-gomez-angel-D9kOnC_1AHw-unsplash.jpg") no-repeat center center;
    opacity: 0.5;
    background-size: cover;
}

#main-me {
}

#main-me img {
    top: 15%;
    left: 37vw;
    position: absolute;
    border-radius: 50%;
}

.title {
    top: 65%;
    left: 30%;
    position: absolute;
    text-align: center;
}

#header {
    padding: 50px;
    margin: auto;
    text-align: center;
    font-size: 55px;
}

/* ------------------------------------------------------- Home Page Content */

.about-me-section {
    margin: 2% 7% 5% 7%;
    object-fit: contain;
}

.about-me-section img{
    float: right;
}

.about-me-des{
    padding: 6% 40% 6% 5%;
}

/* ------------------------------------------------------- My Journey */

.journey {
    margin: 30px 30px 100px 30px;
}

.journey-item{
    margin-left: 45%;
    padding: 4em 2em 0em 2em;
    position: relative;
    color: black;
    border-left: 1px solid;
}

.journey-item p {
    padding: 1;
    margin: 0;
}

.journey-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 1.8em;
    top: 1.5em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    background-color: red;
    color: white;
    padding: 4px;
}

.journey-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    content: '';
    background: red;
    transform: rotate(45deg);
}

.journey-finisher {
    margin: 30px 30px 120px 30px;
    text-align: center;
}

/* ------------------------------------------------------- Contact page */

.connect-title {
    top: 37%;
    left: 5%;
    position: absolute;
    text-align: center;
    color: white;
}

.questions {
    margin: 0 auto;
    text-align: center;
    line-height: 400%;
}

.connect-form {
    background-color: #FCFCFC;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 60%;
}

#contactlabel {
    padding: 3%;
    text-align: center;
}

#fullname, #email, #number, #comment {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;}

#fullname:hover, #email:hover, #number:hover, #comment:hover {
    border: 1px solid red;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 700
}

.labelatt {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.textentry {
    float: left;
    width: 75%;
    margin-top: 6px;
}

#submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
}

/* ------------------------------------------------------- Footer */

.footer-brief {
    background-color: #f2f2f2;
    padding: 10px;
}

.logos {
    font-size: 40px;
    text-align: center;
}

#qlabel {
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: 700;
}

#qlabels {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 700;
}

.footer-brief a {
    text-decoration: none;
    color: inherit;
}

.footer-brief a:hover {
    transform: scale(1.1);
    color: #676767;
    text-shadow: 1px 1px 1px #676767;
}

.qlinks {
    column-count: 2;
}
